/node_modules
/storage/*.key
/vendor
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
.phpunit.result.cache
.env
.env.backup
fields_sample.json
.phpintel
/.phpintel
.vscode
_ignore
*.php-tmp
id_rsa_github
id_rsa_github.pub
/.idea
temp_notes.php
.env.temp.txt

*.key
/vistaorna